*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Reset above, Custom Code below */

:root {
  --emerald-500: #10b981;
  --emerald-50: #d1fae5;
  --anti-color: rgb(177, 135, 142);
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template: 175px 1fr / 300px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  padding: 15px 30px;

  background-color: var(--emerald-500);
  color: white;
}

.sidebar-top,
.sidebar-mid {
  margin-bottom: 50px;
}

.sidebar-list-item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.header {
  grid-area: header;
  padding: 0px 30px;

  display: grid;
  grid-template: 1fr 1.15fr / minmax(600px, 1fr) 450px;

  border-bottom: solid 1px;
}

.search-bar-container,
.header-user-info,
.header-greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  border-radius: 15px;
  border: none;
  padding: 2px 10px;
  background-color: var(--emerald-50);
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-container p {
  margin-bottom: -8px;
}

.header-user-info {
  justify-content: flex-end;
  padding-right: 25px;
  gap: 30px;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-button {
  width: 100px;
  font-family: "Roboto", sans-serif;
  background-color: var(--emerald-500);
  color: white;
  border: 1px;
  font-weight: bold;
  padding: 8px 20px;
  text-align: center;
  border-radius: 100px;
}

.content {
  grid-area: content;

  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 25px;

  padding: 25px;
  background-color: var(--emerald-50);
}

.content h2 {
  margin-bottom: 10px;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: white;
  padding: 25px 20px;

  border-radius: 10px;
  box-shadow: 3px 2px 2px gray;
  min-height: 200px;

  display: flex;
  flex-direction: column;

  border-left: solid 8px var(--anti-color);
}

.project-card p {
  line-height: 1.15rem;
}

.card-icons {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  gap: 20px;
}

.announcements-container,
.trending-container {
  background-color: white;
  padding: 25px 20px;
  border-radius: 10px;
  box-shadow: 3px 2px 2px gray;
  margin-bottom: 20px;
}

.announcements-container p {
  font-size: 0.8rem;
}

.announcements-container hr {
  margin-block: 10px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  height: 25px;
  filter: invert(99%) sepia(1%) saturate(270%) hue-rotate(110deg)
    brightness(122%) contrast(100%);
}

.outline-icon {
  height: 25px;
}

.big-icon {
  height: 40px;
}

.avatar {
  height: 45px;
  border-radius: 45px;
}

.big-avatar {
  height: 70px;
  border-radius: 70px;
}

.sidebar h1:hover,
.sidebar-list-item h2:hover,
h3:hover,
.card-icons img {
  opacity: 0.7;
  cursor: pointer;
}

.header-button:hover {
  background-color: var(--anti-color);
  cursor: pointer;
}