*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Reset above, Custom Code below */

:root {
  --emerald-500: #10b981;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template: 200px 1fr / 300px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  padding: 15px 30px;

  background-color: var(--emerald-500);
  color: white;
}

.sidebar-top,
.sidebar-mid {
  margin-bottom: 50px;
}

.sidebar-list-item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}
